body {
  background-color: #ffc500
}

#DC {
	font-weight:bold;
	color: black;
	background-color: green;
}

#GA {
	font-weight:bold;
	color: black;
	background-color: yellow;
}

#AD {
	font-weight:bold;
	color: black;
	background-color: blue;
}